/* Contact.module.css */
.contactContainer {
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.contactForm button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
